.list-item {
  width: calc(100% - 20px);
  padding: 10px;
  line-height: 16px;
}

.list-item:hover {
  background-color: rgba(0, 0, 0, 0.04) !important;
}

.highlighted {
  background-color: #e7f068;
}
